.todoContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #8c43e4;
    width: 95%;
    height: auto;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
    pointer-events: all;
    margin-bottom: 10px;
    margin-right: 5px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.removeButton {
    background-color: #662cac;
    border: none;
    font-family: sans-serif;
    font-size: 1.2rem;
    border-radius: 8px;
    color: #fff;
    pointer-events: all;
}